.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.left {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.right {
    padding: 24px;
    overflow-y: auto;
    background: black;
}