/* empty space at the top */
.spacer {
  height: 33.33vh;
  width: 100%;

  /* animation for slide-up feel*/
  transition:
    height 0.6s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.4s ease;
  overflow: hidden;
}

.spacerHidden {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.article {
  position: relative;
  width: 100vw;
  padding: 6px 0px;
  border-top: 1px solid var(--color-font);
  cursor: pointer;
  margin-top: -32px;
  background-color: var(--color-white);
  transition: transform 0.3s ease;
}

.article:first-child {
  margin-top: 0;
}

.article:hover {
  transform: translateY(-32px);
}

.title {
  width: 100%;
  font-size: 80px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.isExpanded {
  transform: translateY(-32px);
  z-index: 5;
}

.expanded {
  padding: 32px 16px;
  border-bottom: 1px solid var(--color-font);
  animation: expandIn 0.35s ease forwards;
}

.detailView {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.isDetailHeader {
  position: fixed; /* Instead of sticky */
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100; /* Stays above everything */
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  margin-top: 0 !important;
}

.contentBody {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  animation: slideup 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-color: beige;
}

.backButton {
  background: none;
  border: 1px solid var(--color-font);
  cursor: pointer;
  padding: 4px 12px;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
