@font-face {
  font-family: "PPNeuel Bold";
  src: url("./assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "PPNeuel Book";
  src: url("./assets/fonts/PPNeueMontreal-Book.woff2") format("woff2");
}
@font-face {
  font-family: "PPNeuel Italic";
  src: url("./assets/fonts/PPNeueMontreal-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "PPNeuel Medium";
  src: url("./assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "PPNeuel Thin";
  src: url("./assets/fonts/PPNeueMontreal-Thin.woff2") format("woff2");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
